<!doctype html>
<html ng-app="panvivaApp">

<head>
    <meta charset="utf-8">
    <title>Electron Tail</title>

    <link href="stylesheets/main.css" rel="stylesheet" type="text/css">

    <script src="helpers/context_menu.js"></script>
    <script src="helpers/external_links.js"></script>

    <script type="text/javascript" src="./lib/angular/angular.js"></script>
    <script src="app.js"></script>
    <script src="./helpers/baseCtrl.js"></script>    
</head>

<body>
    <div class="container" ng-controller="baseCtrl">
        <div class="">
            <div ng-if="fileName != ''">File: {{fileName}}</div>
            <button ng-click="selectFile()">Select File</button>
            <button ng-click="beginTailing()">Begin</button>
            <button ng-click="pauseTailing()">Stop</button>
            <button ng-click="clearOutput()">Clear</button>
        </div>
        <h1 id="greet">
            {{greetingMessage}}
        </h1>
        <p class="subtitle">
            Welcome to <a href="http://electron.atom.io" class="js-external-link">Electron</a> app running on this magnificent
            <strong id="platform-info">
                {{platformInfo}}
            </strong> machine.
        </p>
        <p class="subtitle">
            You are in 
            <strong id="env-name">
                {{envName}}
            </strong> environment.
            Click the text below to crash and then reload this process.
            <a id="crash" href="javascript:process.crash()">Crash this process</a>
        </p>        
        <div class="output" ng-style="resizeWithOffset(10, 200)" resize>
            <span ng-repeat="l in fileData" class="line">{{l}}</span> <br/>
        </div>        
    </div>
</body>
</html>