@font-face {
	font-family: 'supportpoint-icons';
	src:url('../fonts/supportpoint-icons.eot?-6akldu');
	src:url('../fonts/supportpoint-icons.eot?#iefix-6akldu') format('embedded-opentype'),
		url('../fonts/supportpoint-icons.ttf?-6akldu') format('truetype'),
		url('../fonts/supportpoint-icons.woff?-6akldu') format('woff'),
		url('../fonts/supportpoint-icons.svg?-6akldu#supportpoint-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'supportpoint-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
    /*background-image: none;*/
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

button.icon {
    background-image: none;
}

.icon-chevron-left:before {
    content: "\e900";
}
.icon-chevron-right:before {
    content: "\e901";
}
.icon-fingerprint:before {
    content: "\e902";
}
.icon-call:before {
    content: "\e903";
}
.icon-highlight:before {
    content: "\e904";
}
.icon-more_vert:before {
    content: "\e905";
}
.icon-favorite:before {
    content: "\e906";
}
.icon-list-view:before {
    content: "\e907";
}
.icon-tree:before {
    content: "\e908";
}
.icon-thumbnail:before {
    content: "\e909";
}
.icon-message:before {
    content: "\e90a";
}
.icon-action:before {
    content: "\e90b";
}
.icon-mic:before {
    content: "\e90c";
}
.icon-check-thin:before {
    content: "\e90d";
}
.icon-caret-left-thin:before {
    content: "\e90e";
}
.icon-caret-right-thin:before {
    content: "\e90f";
}
.icon-caret-up-thin:before {
    content: "\e910";
}
.icon-caret-down-thin:before {
    content: "\e911";
}
.icon-close-thin:before {
    content: "\e912";
}
.icon-arrow-up-slim:before {
    content: "\e913";
}
.icon-arrow-down-slim:before {
    content: "\e914";
}
.icon-arrow-left-slim:before {
    content: "\e915";
}
.icon-arrow-right-slim:before {
    content: "\e916";
}
.icon-messages:before {
	content: "\e6a1";
}
.icon-open:before {
	content: "\e6a2";
}
.icon-archive:before {
	content: "\e6a3";
}
.icon-unarchive:before {
	content: "\e6a4";
}
.icon-policy:before {
	content: "\e6a0";
}
.icon-hearing:before {
	content: "\e6d4";
}
.icon-volume_up:before {
	content: "\e6d5";
}
.icon-checkmark:before {
	content: "\e6d3";
}
.icon-email-2:before {
	content: "\e60e";
}
.icon-jump:before {
	content: "\e6b2";
}
.icon-profile-2:before {
	content: "\e6d2";
}
.icon-anchor:before {
	content: "\f13d";
}
.icon-current-document:before {
	content: "\e617";
}
.icon-previous-document:before {
	content: "\e62a";
}
.icon-visibility-on:before {
	content: "\e632";
}
.icon-visibility_off:before {
	content: "\e64a";
}
.icon-key2:before {
	content: "\e668";
}
.icon-merge:before {
	content: "\e669";
}
.icon-out:before {
	content: "\e66a";
}
.icon-version:before {
	content: "\e671";
}
.icon-clock:before {
	content: "\e67a";
}
.icon-thumbs-down:before {
	content: "\e67d";
}
.icon-thumbs-up:before {
	content: "\e688";
}
.icon-calendar:before {
	content: "\e68c";
}
.icon-add-circle-outline:before {
	content: "\e69d";
}
.icon-remove_circle:before {
	content: "\e6b3";
}

.icon-remove-circle-outline:before {
	content: "\e6ba";
}
.icon-filter:before {
	content: "\e6bb";
}
.icon-expand3:before {
	content: "\e6d2";
}
.icon-panviva-logo2:before {
	content: "\e6d3";
}
.icon-zoom-out2:before {
	content: "\e6d4";
}
.icon-zoom-in2:before {
	content: "\e6d5";
}
.icon-email:before {
	content: "\e6ce";
}
.icon-profile:before {
	content: "\e6cf";
}
.icon-legend:before {
	content: "\e6d0";
}
.icon-document:before {
	content: "\e6d1";
}
.icon-list:before {
	content: "\e6c8";
}
.icon-report:before {
	content: "\e6c9";
}
.icon-location:before {
	content: "\e6ca";
}
.icon-notifications:before {
	content: "\e6cb";
}
.icon-history:before {
	content: "\e6cc";
}
.icon-find-in-doc:before {
	content: "\e6cd";
}
.icon-pane-centered:before {
	content: "\e6c5";
}
.icon-pane-collapse-left:before {
	content: "\e6c6";
}
.icon-pane-collapse-right:before {
	content: "\e6c7";
}
.icon-unlocked:before {
	content: "\e6c3";
}
.icon-lock:before {
	content: "\e6c4";
}
.icon-ordered-list-continue-lang-arabic:before {
	content: "\e6c0";
}
.icon-ordered-list-change-lang-arabic:before {
	content: "\e6c1";
}
.icon-ordered-list-restart-lang-arabic:before {
	content: "\e6c2";
}
.icon-ordered-list-lang-arabic:before {
	content: "\e6bf";
}
.icon-info-circle:before {
	content: "\e6be";
}
.icon-add_circle:before {
	content: "\e6b7";
}
.icon-attachment2:before {
	content: "\e6b8";
}
.icon-caret-down:before {
	content: "\e6b9";
}
.icon-caret-left2:before {
	content: "\e6ba";
}
.icon-caret-right2:before {
	content: "\e6bb";
}
.icon-caret-up:before {
	content: "\e6bc";
}
.icon-restricted:before {
	content: "\e6bd";
}
.icon-zoom:before {
	content: "\e600";
}
.icon-unordered-list:before {
	content: "\e601";
}
.icon-unreadable:before {
	content: "\e602";
}
.icon-unwriteable:before {
	content: "\e603";
}
.icon-upload:before {
	content: "\e604";
}
.icon-user2:before {
	content: "\e605";
}
.icon-user:before {
	content: "\e606";
}
.icon-user-external-tip:before {
	content: "\e607";
}
.icon-user-internal-tip:before {
	content: "\e608";
}
.icon-verbatim:before {
	content: "\e609";
}
.icon-workflow:before {
	content: "\e60a";
}
.icon-warning:before {
	content: "\e60b";
}
.icon-switch:before {
	content: "\e60c";
}
.icon-power:before {
	content: "\e60c";
}
.icon-system-role:before {
	content: "\e60d";
}
.icon-system-role2:before {
	content: "\e60e";
}
.icon-table:before {
	content: "\e60f";
}
.icon-table-add-column-left:before {
	content: "\e610";
}
.icon-table-add-column-right:before {
	content: "\e611";
}
.icon-table-add-row-above:before {
	content: "\e612";
}
.icon-table-add-row-below:before {
	content: "\e613";
}
.icon-table-cell-merge-right:before {
	content: "\e614";
}
.icon-table-cell-split:before {
	content: "\e615";
}
.icon-table-column-delete:before {
	content: "\e616";
}
.icon-table-delete:before {
	content: "\e617";
}
.icon-table-header-hide:before {
	content: "\e618";
}
.icon-table-header-show:before {
	content: "\e619";
}
.icon-table-row-delete:before {
	content: "\e61a";
}
.icon-table-set-width-large:before {
	content: "\e61b";
}
.icon-table-set-width-medium:before {
	content: "\e61c";
}
.icon-table-set-width-small:before {
	content: "\e61d";
}
.icon-task:before {
	content: "\e61e";
}
.icon-taskflow-diagram:before {
	content: "\e61f";
}
.icon-task-insert-after:before {
	content: "\e620";
}
.icon-task-insert-before:before {
	content: "\e621";
}
.icon-task-type-menupath:before {
	content: "\e622";
}
.icon-task-type-screen:before {
	content: "\e623";
}
.icon-task-type-shortcut:before {
	content: "\e624";
}
.icon-task-type-transaction:before {
	content: "\e625";
}
.icon-task-type-who:before {
	content: "\e626";
}
.icon-text:before {
	content: "\e627";
}
.icon-tooltip:before {
	content: "\e628";
}
.icon-training-answer:before {
	content: "\e629";
}
.icon-training-answer-properties:before {
	content: "\e62a";
}
.icon-training-question:before {
	content: "\e62b";
}
.icon-translation-complete:before {
	content: "\e62c";
}
.icon-translation-incomplete:before {
	content: "\e62d";
}
.icon-twitter:before {
	content: "\e62e";
}
.icon-undo:before {
	content: "\e62f";
}
.icon-unlink:before {
	content: "\e630";
}
.icon-section-insert-after2:before {
	content: "\e631";
}
.icon-section-insert-before:before {
	content: "\e632";
}
.icon-section-insert-before2:before {
	content: "\e633";
}
.icon-select-all:before {
	content: "\e634";
}
.icon-spell-check:before {
	content: "\e635";
}
.icon-star:before {
	content: "\e636";
}
.icon-stock-text:before {
	content: "\e637";
}
.icon-subheader:before {
	content: "\e638";
}
.icon-subsection-insert-after:before {
	content: "\e639";
}
.icon-subsection-insert-before:before {
	content: "\e63a";
}
.icon-sub-unordered-list:before {
	content: "\e63b";
}
.icon-image:before {
	content: "\e63c";
}
.icon-image-change:before {
	content: "\e63d";
}
.icon-imagemap:before {
	content: "\e63e";
}
.icon-images-properties:before {
	content: "\e63f";
}
.icon-import-user:before {
	content: "\e640";
}
.icon-indent-decrease:before {
	content: "\e641";
}
.icon-indent-increase:before {
	content: "\e642";
}
.icon-italic:before {
	content: "\e643";
}
.icon-key:before {
	content: "\e644";
}
.icon-key-admin:before {
	content: "\e645";
}
.icon-link:before {
	content: "\e646";
}
.icon-menu:before {
	content: "\e647";
}
.icon-meter:before {
	content: "\e648";
}
.icon-more:before {
	content: "\e649";
}
.icon-multiple-choice:before {
	content: "\e64a";
}
.icon-multiple-choice-radio:before {
	content: "\e64b";
}
.icon-navHistory:before {
	content: "\e64c";
}
.icon-nav-history:before {
	content: "\e64c";
}
.icon-note:before {
	content: "\e64d";
}
.icon-ok-sign:before {
	content: "\e64e";
}
.icon-ordered-list:before {
	content: "\e64f";
}
.icon-ordered-list-change:before {
	content: "\e650";
}
.icon-ordered-list-continue:before {
	content: "\e651";
}
.icon-ordered-list-restart:before {
	content: "\e652";
}
.icon-panviva-logo-background:before {
	content: "\e653";
}
.icon-panviva-logo-left:before {
	content: "\e654";
}
.icon-panviva-logo-right:before {
	content: "\e655";
}
.icon-paragraph:before {
	content: "\e656";
}
.icon-paragraph-centered:before {
	content: "\e657";
}
.icon-paragraph-force-justified:before {
	content: "\e658";
}
.icon-paragraph-insert-after:before {
	content: "\e659";
}
.icon-paragraph-insert-before:before {
	content: "\e65a";
}
.icon-paragraph-justified:before {
	content: "\e65b";
}
.icon-paragraph-left:before {
	content: "\e65c";
}
.icon-paragraph-markings:before {
	content: "\e65d";
}
.icon-paragraph-right:before {
	content: "\e65e";
}
.icon-paste:before {
	content: "\e65f";
}
.icon-pencil:before {
	content: "\e660";
}
.icon-pencil-2:before {
	content: "\e661";
}
.icon-pencil-edit:before {
	content: "\e662";
}
.icon-pointer:before {
	content: "\e663";
}
.icon-popup:before {
	content: "\e664";
}
.icon-print:before {
	content: "\e665";
}
.icon-properties:before {
	content: "\e666";
}
.icon-quicklinks-grid:before {
	content: "\e667";
}
.icon-quicklinks-grid-copy:before {
	content: "\e668";
}
.icon-quicklinks-grid-delete:before {
	content: "\e669";
}
.icon-quicklinks-grid-properties:before {
	content: "\e66a";
}
.icon-redo:before {
	content: "\e66b";
}
.icon-reference:before {
	content: "\e66c";
}
.icon-refresh:before {
	content: "\e66d";
}
.icon-remove-sign:before {
	content: "\e66e";
}
.icon-remove-trash:before {
	content: "\e66f";
}
.icon-reusable-content:before {
	content: "\e670";
}
.icon-reusable-content-properties:before {
	content: "\e671";
}
.icon-revert-repeat-clear-refresh:before {
	content: "\e672";
}
.icon-right-to-left:before {
	content: "\e673";
}
.icon-save:before {
	content: "\e674";
}
.icon-search-binoculars:before {
	content: "\e675";
}
.icon-search-clear:before {
	content: "\e676";
}
.icon-search-magnifying:before {
	content: "\e677";
}
.icon-search-minus:before {
	content: "\e678";
}
.icon-search-plus:before {
	content: "\e679";
}
.icon-zoom-in:before {
	content: "\e679";
}
.icon-search-reset:before {
	content: "\e67a";
}
.icon-secondary-window:before {
	content: "\e67b";
}
.icon-section:before {
	content: "\e67c";
}
.icon-section-insert-after:before {
	content: "\e67d";
}
.icon-eye:before {
	content: "\e67e";
}
.icon-findWithin:before {
	content: "\e67f";
}
.icon-flag:before {
	content: "\e680";
}
.icon-folder-add:before {
	content: "\e681";
}
.icon-folder-closed:before {
	content: "\e682";
}
.icon-folder-delete:before {
	content: "\e683";
}
.icon-folder-opened:before {
	content: "\e684";
}
.icon-header:before {
	content: "\e685";
}
.icon-home:before {
	content: "\e686";
}
.icon-panviva-logo:before {
	content: "\e687";
}
.icon-ellipsis:before {
	content: "\e688";
}
.icon-expand:before {
	content: "\e689";
}
.icon-expand-horizontal:before {
	content: "\e68a";
}
.icon-export-user:before {
	content: "\e68b";
}
.icon-external-user:before {
	content: "\e68c";
}
.icon-camera:before {
	content: "\e68d";
}
.icon-caret-left:before {
	content: "\e68e";
}
.icon-caret-right:before {
	content: "\e68f";
}
.icon-character:before {
	content: "\e690";
}
.icon-checkmark-circle:before {
	content: "\e691";
}
.icon-chevron-down:before {
	content: "\e692";
}
.icon-chevron-up:before {
	content: "\e693";
}
.icon-close:before {
	content: "\e694";
}
.icon-close2:before {
	content: "\e695";
}
.icon-cog:before {
	content: "\e696";
}
.icon-collapse-horizontal:before {
	content: "\e697";
}
.icon-comments:before {
	content: "\e698";
}
.icon-compress:before {
	content: "\e699";
}
.icon-copy:before {
	content: "\e69a";
}
.icon-csh:before {
	content: "\e69b";
}
.icon-custom-role:before {
	content: "\e69c";
}
.icon-custom-role2:before {
	content: "\e69d";
}
.icon-add-circle-outline:before {
	content: "\e69d";
}
.icon-cut:before {
	content: "\e69e";
}
.icon-doctype-imported:before {
	content: "\e69f";
}
.icon-external:before {
	content: "\e69f";
}
.icon-doctype-procedure:before {
	content: "\e6ad";
}
.icon-procedure:before {
	content: "\e6ad";
}
.icon-doctype-process:before {
	content: "\e6ae";
}
.icon-process:before {
	content: "\e6ae";
}
.icon-download:before {
	content: "\e6af";
}
.icon-arrow-left:before {
	content: "\e6b0";
}
.icon-arrow-right:before {
	content: "\e6b1";
}
.icon-attachment:before {
	content: "\e6b2";
}
.icon-bell:before {
	content: "\e6b3";
}
.icon-bold:before {
	content: "\e6b4";
}
.icon-bookmarks:before {
	content: "\e6b5";
}
.icon-buttonise:before {
	content: "\e6b6";
}
