// html, body {
//     width: 100%;
//     height: 100%;
//     margin: 0;
//     padding: 0;
// }

// body {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-family: sans-serif;
// }

// a {
//     text-decoration: none;
// }

// .container {
//     text-align: center;
// }

// .subtitle {
//     color: gray;
// }

@color1: #00897B;
@color2: #fff;
html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, 'Sans Serif', Arial, 'Shell UI', 'Trebuchet MS', Verdana;
    font-size: 1em;
}
.header {
    background-color: @color1;
    color: @color2;
    height: 34px;
    width: 100%;
    -webkit-app-region: drag;    

    .nav-icons {
        -webkit-app-region: no-drag;     
        margin-left: -40px!important;  
        width: 148px;        
        float: left; 
    }

    .header-text{
        color: @color2;
        padding-left: 15px;
        line-height: 38px;
        vertical-align: initial;
        font-size: 1.2em;
        float: left;        
    } 

    ul{
        width: 142px;
        float: right;
        li {
            display:inline-block;
            list-style-type: none;             
            padding:10px;
        }
    }       
}

.action-icons {
    list-style-type: none;
    display: flex;
    margin: 0;    
    float: right;

    li {
        padding: 10px;
        cursor: pointer;
        color: #fff;

        :hover {
            background-color: #80CBC4;
        }
    }

}
.common-negative-background-colour:hover {
    background-color: #E60000 !important;
}

.common-positive-background-colour {
    background-color: #008000;
}
